@import '~@fluentui/react/dist/sass/References.scss';

//---------------- for gulp serve Development
// :global #workbenchPageContent {
//   max-width: 100%;
//   left: 0;
//   right: 0;

//   & > div {
//     & > div {
//       overflow: visible;

//       & > div {
//         overflow: visible;
//         padding: 0;

//         .CanvasComponent {
//           .CanvasZone {
//             margin: auto;
//             padding-left: 15px;
//           }

//           .CanvasZone--noMargin {
//             margin: auto;
//           }
//         }
//       }
//     }
//   }
// }
// :global #workbenchPageContent {
//   .CanvasComponent {
//     .CanvasZone {
//       max-width: 100%;
//       padding-left: 0 !important;
//       padding-right: 0;

//       .CanvasSection {
//         padding-left: 0;
//         padding-right: 0;

//         .ControlZone {
//           padding: 0;

//           .CanvasControlToolbar {
//             left: -32px;
//           }
//         }
//       }
//     }
//   }
// }

.container {
  display: flex;
}

.subHeadLine {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  padding: 0em 1em 0em 1em;
}

.dataGridStyle {
  border-radius: inherit !important;
}

.Headline {
  --unstable_DataGrid-headWeight: 600 !important;
  font-size: large;
}

.subHeadLine {
  --unstable_DataGrid-headWeight: 600 !important;
}

.dateGridToolBar {
  & > :nth-child(1) {
    & * {
      color: #41a78e;
    }
  }
}
